<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <%- include("includes/sidedrawer.ejs") %>

    <main>
      <h1>Page not found!</h1>
      <p>Unfortunately, We are not able to find the page!</p>
    </main>
  </body>
</html>
