<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <%- include("includes/sidedrawer.ejs") %>

    <main>
      <h1>We Are Sorry!!!</h1>
      <p>Something went wrong with the server! We are doing our best to resolve the issue!</p>
      <p><%= error %></p>
    </main>
  </body>
</html>
